<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190046040138-atcqh6pfdgq8oicbhsquhc3ql9c0bcua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190046040138-atcqh6pfdgq8oicbhsquhc3ql9c0bcua</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>190046040138-tdikqdfdkkvob5ehethjmo3j5mvrtmke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjhi1dcOrnLeSUKUhEeM9qUG_iZsfi9nI</string>
	<key>GCM_SENDER_ID</key>
	<string>190046040138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>worldhope-f4a14</string>
	<key>STORAGE_BUCKET</key>
	<string>worldhope-f4a14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190046040138:ios:d05161c3409240c6e776b3</string>
	<key>DATABASE_URL</key>
	<string>https://worldhope-f4a14.firebaseio.com</string>
</dict>
</plist>